<app-navbar></app-navbar>
<div class="myloader" *ngIf="loader" id="app-loader"></div>
<div class="container body">
  <h2>Tracker</h2>
  <span class="request-title">
    Employee details of all teams
  </span>
  <br><br>
  <table class="table table-striped" style="width: 100%;">
    <thead>
      <tr>
        <th>Employee ID</th>
        <th>Employee name</th>
        <th>Experience</th>
      </tr>
    </thead>
    <!--display the members by grouping them with team names-->
    <ng-container *ngFor="let team of Technologies">
      <tbody id="tracker-data" *ngIf="seperateTeam[team.name]?.length > 0">
        <div class="team-num">
          <!--display 'Team {team name}'-->
          Team {{team.name}}
        </div>
        <tr *ngFor="let member of seperateTeam[team.name]">
          <td><!--{member's employee_id}-->{{member.employee_id}}</td>
          <td><!--{member's employee_name}-->{{member.employee_name}}</td>
          <td><!--{member's experience}-->{{member.experience}}</td>
        </tr>
      </tbody>
    </ng-container>
  </table>
</div>