<app-navbar></app-navbar>
<div class="member-component-body">

  <form [formGroup]="addMemberForm" class="manage-members-form" (ngSubmit)="addMember()">

    <div class="title">
      Add Team Member
    </div>

    <div class="container">
      <b>Employee ID</b>
      <input formControlName="employee_id" type="number" placeholder="Enter employee id" id="emp-id">
      <div class="text-danger" id="invalid-id" *ngIf="addMemberForm.controls['employee_id'].dirty">
        <!--validation message for employee id-->
        <span *ngIf="addMemberForm.controls['employee_id'].errors?.required">{{idRequiredError}}</span>
        <span *ngIf="addMemberForm.controls['employee_id'].errors?.range">{{idMinMaxError}}</span>
      </div>

      <b>Employee name</b>
      <input formControlName="employee_name" type="text" placeholder="Enter employee name" id="emp-name">
      <div class="text-danger" id="invalid-name" *ngIf="addMemberForm.controls['employee_name'].dirty">
        <!--validation message for employee name-->
        <span *ngIf="addMemberForm.controls['employee_name'].errors?.required">{{nameRequiredError}}</span>
        <span *ngIf="addMemberForm.controls['employee_name'].errors?.pattern">{{namePatternError}}</span>
      </div>

      <b>Experience</b>
      <input formControlName="experience" type="number" placeholder="Enter employee experience" id="emp-exp">
      <div class="text-danger" id="invalid-exp" *ngIf="addMemberForm.controls['experience'].dirty">

        <!--validation message for experience name-->
        <span *ngIf="addMemberForm.controls['experience'].errors?.required">{{experienceRequiredError}}</span>
        <span *ngIf="addMemberForm.controls['experience'].errors?.minValue">{{experienceMinError}}</span>

      </div>

      <b>Technology</b>
      <div>
        <span style="width: 75%;float: left;">
          <select class="custom-select" formControlName="technology_name" id="emp-tech">
            <option value="" disabled selected>Select the technology</option>
            <option *ngFor="let team of Technologies">
              <!--iterate the technology or team names which should fetch from backend and display in this drop down options-->
              {{team.name}}
            </option>
          </select>
        </span>
        <span>
          <button type="button" class="editBtn" data-toggle="modal" data-target="#dropdown-edit" id="edit-btn">
            Add/Remove
          </button>
          <!--click this button will open a bootstrap modal to add or remove technology names in drop down-->
        </span>
      </div>
      <br>
      <div class="text-danger" id="invalid-tech" *ngIf="addMemberForm.controls['technology_name'].dirty">

        <!--valiation message for technology name-->
        <span *ngIf="addMemberForm.controls['technology_name'].errors?.required">{{technologyNameRequiredError}}</span>

      </div>

      <button type="submit" class="btnStyle submitBtn" id="add-btn" [disabled]="addMemberForm.invalid">
        Add member
      </button>
      <!--button should be disabled if form is invalid and click to call 'addMember' function-->
      <button type="reset" class="btnStyle cancelbtn" id="reset-btn" [disabled]="addMemberForm.invalid">
        Reset
      </button>
      <!--button should be disabled if form is invalid and click to reset the form-->

    </div>
  </form>
</div>

<!------------Starts----------Modal for adding options to dropdown--------------------------------------->
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="dropdown-edit" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <form [formGroup]="editTechnologyForm">
          <div class="modal-header">
            <h4 class="modal-title">Update technology</h4>
            <button type="button" class="close" data-dismiss="modal" id="close-btn">&times;</button>
          </div>
          <div class="modal-body">
            <table>
              <tr>
                <td>
                  <label class="radio-inline">
                    <input type="radio" formControlName="addOrRemove" value="add" id="tech-add-radio"
                      formControlName="addOrRemove">
                    Add Technology
                  </label>
                </td>
                <td>
                  <label class="radio-inline">
                    <input type="radio" formControlName="addOrRemove" value="remove" id="tech-remove-radio"
                      formControlName="addOrRemove">
                    Remove Technology
                  </label>
                </td>
              </tr>
              <!--the input box to enter new technology should display when 'Add Technology' radio is clicked-->
              <tr *ngIf="editTechnologyForm.controls['addOrRemove'].value === 'add'">
                <td>Enter new technology:</td>
                <td><input type="text" formControlName="newOption" style="margin:0" id="tech-add"></td>
              </tr>
              <!--the select input to choose the existing technology to remove should display when 'Remove Technology' radio is clicked-->
              <tr *ngIf="editTechnologyForm.controls['addOrRemove'].value === 'remove'">
                <td>Choose the technology:</td>
                <td>
                  <select class="custom-select" formControlName="removeOption" id="tech-remove">
                    <option value="" disabled selected>Select the technology</option>
                    <option *ngFor="let team of Technologies">
                      <!--iterate the technology or team names which should fetch from backend and display in this drop down options-->
                      {{team.name}}
                    </option>
                  </select>
                </td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btnStyle updateBtn" data-dismiss="modal" id="update-btn"
              (click)="updateDropdown()"
              [disabled]="(editTechnologyForm.controls['addOrRemove'].value === 'add' && editTechnologyForm.controls['newOption'].value==='') || (editTechnologyForm.controls['addOrRemove'].value === 'remove' && editTechnologyForm.controls['removeOption'].value==='')">
              Update
            </button>
            <!--buttons should be enabled if and only if any one('newOption' and 'removeOption') have value 
            and click to call 'updateDropdown' function-->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-------------Ends-----------Modal for adding options to dropdown--------------------------------------->