<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand"><span class="navbar-title">{{title}}</span></a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" id="home-link">View Tracker</a>
        <!--click to navigate to tracker component-->
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" id="add-link">Add team member</a>
        <!--click to navigate to add-member component-->
      </li>
    </ul>    
  </div>
</nav>